body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

*, ::after, ::before {
  box-sizing: border-box;
}

input-rotate {
  width: 215px;
  height: 40px;
  position: relative;
  margin: 0 auto;
  display: block;
}

input-rotate .c_input-elements {
  color: #D58778;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 20px;
}

input-rotate .c_input-wrap {
  position: relative;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
  overflow: hidden;
}

input-rotate .c_input-wrap span {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(-100%) translateY(-18px);
}

input-rotate .c_input {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100%;
  padding: 19px 5px 5px;
  border: none;
  border-bottom: 1px solid;
  font-size: inherit;
}

input-rotate .rotate_controls {
  display: inline-block;
  position: absolute;
  right: 2px;
  bottom: 1px;
  width: 28px;
  height: 28px;
  z-index: 3;
}

input-rotate .rotate_controls svg {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

input-rotate .rotate_controls path,
input-rotate .rotate_controls circle {
  pointer-events: none;
}
